# Object files
*.o

# Static library
libft.a


# Backup files
*~
*.bak

#Temporary files that are not relevant for the project 
## Vim/Neovim swap files 
*.swp
## Emacs backup files
.#*
## VSCode files
.vscode/



# macOS system filesc
.DS_Store

#Debug files or other  debegging-related files.
## Core dumps
core

# Log files
## if the project generates any log files (eithher automatically  or from a debugging session)
*.log

#Compilned Binaries: all the file compile that needs ignoring go here.
## Executables
*.out