[submodule "FrameWork_test"]
	path = FrameWork_test
	url = git@github.com:Univers42/FrameWork_test.git
[submodule "minilibx-linux"]
	path = minilibx-linux
	url = https://github.com/42paris/minilibx-linux.git
[submodule "memalloc/ft_malloc"]
	path = memalloc/ft_malloc
	url = git@github.com:Univers42/ft_malloc.git
[submodule "memory/memalloc/ft_malloc"]
	path = memory/memalloc/ft_malloc
	url = git@github.com:Univers42/ft_malloc.git
